:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #d7fef4;
  color-scheme: light dark;
  color: rgba(77, 77, 77, 0.87);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  text-align: center;

}
/* Search Input */
.search-container{
 margin: 20px auto #b46868;
}

/* List of result */
.list-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 3% auto;
  width: 90%;
  max-width: 1200px;
}

.list-item {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  margin: 5px;
  max-width: calc(33.333% - 100px); 
}
.target-medicament{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 300px;
  height: 130px;
  background-color: white;
  position: relative;
  padding-bottom: 30px;
  margin: 2px;
}
.target-medicament:hover{
  border: 2px solid #b46868 ;
}

.card-content {
  flex-grow: 1;
  font-weight: bold;
  color:rgba(48, 48, 48, 0.87) ;
}

.card-actions {
  position: absolute; 
  bottom: 5px; 
  left: 5px; 
  width: calc(100% - 10px); 
  display: flex;
  justify-content: flex-start;
  
}

.learn-more-link {
  text-decoration: none;
  color: blue;
}

/* Medicine  styles */
.medicine-detail-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.medicine-title {
  color: #333333;
  font-size: 24px;
  margin-bottom: 10px;
}

.medicine-info {
  margin-top: 20px;
}

.medicine-info p {
  margin-bottom: 10px;
  line-height: 1.6;
}

.medicine-info p strong {
  font-weight: bold;
}

.MuiInputLabel-root.Mui-focused {
  color:#b46868 !important;
}
.MuiInput-underline:after {
  border-bottom-color: #b46868 !important;
}


@media (max-width: 768px) {
  .list-item {
    flex: 1 1 100%; 
    max-width: 100%; 
  }
  .list-results{
    width: 75%;
  }
}

@media (max-width: 600px) {
  .medicine-detail-container {
    padding: 10px;
  }
  
  .medicine-title {
    font-size: 20px;
  }
}